<!DOCTYPE html>
<html>
<head>
    <title><%= post.title %></title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <a href="/">Home</a>
    <form action="/post/<%= post.id %>?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit">DELETE</button>
    </form>
</body>
</html>